.output {
  max-width: calc(70% + 10px);
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;  
  gap: 10px;
}

.outputEntry {  
  /* margin: 5px; */
  display: flex;
  flex-flow: column nowrap;
  min-height: 80px;
  background-color: #55595f;  
  flex: 1 0 calc(33.33% - 10px);
  max-width: calc(33.33% - 10px);
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-out;
  box-shadow: 0 0 0.1px transparent;
  -webkit-font-smoothing: antialiased;  
  border-radius: 4px;
}

.outputEntry:hover {
  cursor: pointer;
  background-color: #62686d;
  transform: scale(1.02);
  box-shadow: 0 0 3px 0.5px wheat;   
}

.outputEntry:hover .entryName {
  text-decoration: underline;
}

.outputEntry:active {
  transform: scale(0.97);
}

.entryName {
  font-weight: bold;
  text-align: center;
}

.entryType {
  text-align: center;
}

@media screen and (max-width: 1100px) and (min-width: 760px) {  
  .output {
    max-width: calc(80% + 10px);
  }
}

@media screen and (max-width: 720px) {
  .output {
    max-width: 100%;
    justify-content: center;
  }  

  .outputEntry {
    flex-basis: 34%;
    max-width: calc(50% - 10px);
  }  
}