.modal-window {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container {
  position: relative;
  background-color: whitesmoke;
  min-width: 500px;
  max-width: 500px;    
  color: black;
}

.modal-container-film {
  max-width: 50vw;
}

.modal-row {
  display: flex;
  justify-content: space-between;
  padding: 3px 5px;  
}

.modal-row:nth-child(2n) {
  background-color: #e1e4e4;
}

.modal-row p:first-of-type {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  text-align: left;
} 

.modal-row p:nth-of-type(2) {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  text-align: right;
}

.modal-container-film .modal-row p:first-of-type {
  max-width: 25%;  
} 

.modal-container-film .modal-row p:nth-of-type(2) {
  max-width: 75%;  
} 

.close-modal-btn {
  position: absolute;
  cursor: pointer;
  font-size: 14px;
  font-weight: 900;  
  padding: 3px;
  top: -2rem;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .modal-container-film {    
    max-height: 100vh;
  }

  .modal-container-film .close-modal-btn {
    position: relative;           
    left: calc(100% - 20px);
  }
}

@media screen and (max-width: 540px) {
  .modal-container {
    min-width: calc(100% - 5px);
    max-width: calc(100% - 5px);
  }
  
  .modal-container-film {
    overflow-y: scroll;
  }

  .close-modal-btn {
    top: -2.2rem;
  }

  .modal-container-film .close-modal-btn {
    top: 0rem;
  }  
}

@media screen and (max-width: 320px) {
  .close-modal-btn {
    top: -2.5rem;
  }
}