.selectForm {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.selectForm fieldset {
  text-align: center;
}

.selectFormLegend {
  text-align: center;
  font-size: 1.5rem;
  color: #ffe300;
  font-family: Helvetica, sans-serif;
}

.selectForm fieldset :is(label, input) {  
  cursor: pointer;
}

.categoryLabels {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.categoryLabels span {
  margin-left: 5px;
}

.datatypeInput {
  position: relative;
  appearance: none;
  width: 16px;
  height: 16px;
  font-size: 16px;      
  border: 2px solid gray;
  border-radius: 50%;
  transition: 0.2s all linear;  
}

.datatypeInput::before,
.datatypeInput::after {  
  opacity: 0;
  transition: 0.25s all linear;
}

.datatypeInput::before {
  position: absolute;    
  content: '|';
  top: -5px;
  left: -1px;
  font-size: 12px;
  font-weight: 900;
  transform: skewX(36deg);  
  color: wheat;  
}

.datatypeInput::after {
  position: absolute;  
  top: -9px;
  right: -1px;
  content: '|';
  font-size: 16px;
  font-weight: 900;
  transform: skewX(-31deg);  
  color: wheat;  
} 

.datatypeInput:disabled {
  cursor: not-allowed;
  border-color: gray;
  opacity: 0.75;
}

.datatypeInput:disabled + .datatypeLabel {
  cursor: not-allowed;
  opacity: 0.75;
}

.datatypeInput:checked {
  box-shadow: 0px 0px 5px #ffe300;
  border-color: wheat;  
}

.datatypeInput:checked + .datatypeLabel {
  font-weight: 600;  
  text-decoration: underline;
}

.datatypeInput:checked::before {
  top: -5px;
  left: -1px;
  animation: 0.15s linear 1 forwards fadein;
}

.datatypeInput:checked::after {
  animation: 0.15s linear 0.15s 1 forwards fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* .datatypeInput:nth-of-type(4):checked::after {
  right: -2px;
} */

.datatypeInput:not(:first-of-type),
.searchInput {
  margin-left: 5px;
}

.datatypeLabel {
  display: inline-block;     
  vertical-align: 0.1em;
  padding-left: 5px;
}

.searchbar,
.pagination {
  margin-top: 8px;
}

.searchInput {
  height: 34px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: 0.25s all ease-in-out;
}

.searchInput:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: 1px 1px 8px 2px rgb(102 175 233 / 60%);
}

.searchInput:disabled {
  background-color: rgb(255, 255, 255);
  cursor: not-allowed;
  opacity: 0.66;
}

.searchInputLabel {
  color: white;
}

.searchBtn, .cancelSearchBtn {
  height: 36px;
  padding: 6px 10px;
  margin-left: -1px;
  color: white;
  background: linear-gradient(#8a9196, #7a8288 60%, #70787d);
  border-color: rgba(0,0,0,0.6);
  border-width: 1px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;  
}

.searchBtn:last-child, .cancelSearchBtn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.searchBtn:disabled {
  cursor: not-allowed;
  opacity: 0.66;
}

.searchBtn:not([disabled]):hover, .cancelSearchBtn:hover {
  cursor: pointer;
  background-image: linear-gradient(#404448, #4e5458 40%, #585e62);
}

@media screen and (max-width: 1100px) and (min-width: 760px) {
  .selectForm {
    max-width: 80%;
  }
}

@media screen and (max-width: 720px) {
  .selectForm {
    max-width: 100%;
    padding: 0 5px;
  } 
  
  .searchInputLabel {
    display: block;
    font-size: 1.25rem;
  }
  
  .cancelSearchBtn {
    margin-top: 3px;
  }
}

@media screen and (max-width: 500px) {
  .searchInput {
    margin-left: 0;
  }
}

@media screen and (max-width: 320px) {
  .searchBtn {
    padding: 6px 5px;
  }  
}