* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #2a2e33;  
  color: #c8c8c8;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: #1c1e22;
  border: 1px solid black;
  max-width: 100%;
  min-height: 100vh;
}

.title {
  color: #ffe300;
  font-size: 4rem;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding-bottom: 5px;
  background-color: #2a2e33;
}

.footerLink {
  text-decoration: none;
  color: inherit;
}

.footerLink p {
  display: inline-block;
}

.footerLink:hover p {
  text-decoration: underline;
  color: #ffe300;
}

@media screen and (max-width: 1100px) and (min-width: 760px) {
  .selectForm {
    max-width: 80%;
  }
  
  .output {
    max-width: calc(80% + 10px);
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 60%;
  }
}

@media screen and (max-width: 720px) {
  :root {
    font-size: 14px;
  }

  .selectForm,
  .output
  {
    max-width: 100%;
  }

  .selectForm {
    padding: 0 5px;
  }

  .outputEntry {
    flex-basis: 34%;
    max-width: calc(50% - 10px);
  }

  .searchInputLabel {
    display: block;
    font-size: 1.25rem;
  }
  
  .cancelSearchBtn {
    margin-top: 3px;
  }
}

@media screen and (max-width: 500px) {
  .modal-container {
    width: calc(100% - 5px);
  }

  .close-modal-btn {
    top: -2.2rem;
  }

  .searchInput {
    margin-left: 0;
  }
}

@media screen and (max-width: 320px) {
  :root {
    font-size: 12px;
  }

  .searchBtn {
    padding: 6px 5px;
  }

  .close-modal-btn {
    top: -2.5rem
  }
}