* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #2a2e33;  
  color: #c8c8c8;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: #1c1e22;
  border: 1px solid black;
  max-width: 100%;
  min-height: 100vh;
}

.title {
  color: #ffe300;
  font-size: 4rem;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding-bottom: 5px;
  background-color: #2a2e33;
}

.footerLink {
  text-decoration: none;
  color: inherit;
}

.footerLink p {
  display: inline-block;
}

.footerLink:hover p {
  text-decoration: underline;
  color: #ffe300;
}

.loading-ring {  
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.loading-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loading-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 60%;
  }
}

@media screen and (max-width: 720px) {
  :root {
    font-size: 14px;
  }  
}

@media screen and (max-width: 320px) {
  :root {
    font-size: 12px;
  }  
}